.table-container{
    margin: $standardSpacing auto;
    width: $tableWidth;
    min-width: $tableWidth;
    height: $tableHeight;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: 2px solid #3c6e57;
    box-shadow: rgba(70, 155, 76, 0.7) 0 0 15px 10px;
    border-radius: $borderBigRadius;
    position: relative;
}

.table-player-deck{
    background-image: url(../images/Background/wood_table.png);
    height: 22.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.player1-deck{
    border-top-left-radius: $borderBigRadius;
    border-top-right-radius: $borderBigRadius;
}

.player2-deck{
    border-bottom-left-radius: $borderBigRadius;
    border-bottom-right-radius: $borderBigRadius;
}

.deck-placeholder{
    background-color: rgba(0, 0, 0, 0.4);
    padding: $smallSpacing;
    border-radius: $borderSmallRadius;
}

.creature-fight-status{
    display: flex;
    flex-direction: column;
}

.creature-fight-avatar{
    border: 1px solid white;
    height: 65px;
    width: 65px;
    border-radius: $borderSmallRadius;
    margin-bottom: $smallSpacing;
}

.table-deck{
    background-image: url(../images/Background/table5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 55%;
    padding: $smallSpacing 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.table-dice-container{
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $smallSpacing 0;
}

.btn.btn-fight{
    padding: 10px 30px;
}

.btn-fight{
    position: absolute;
    top: $tableHeight*0.5;
    left: $tableWidth*0.5;
    transform: translateX(-50%) translateY(-50%);
    border: 3px solid #ae7a0d;
    border-radius: 50px;
    background: #ffc815;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffc815), to(#ae7a0d));
    background: -moz-linear-gradient(top, #ffc815, #ae7a0d);
    background: linear-gradient(to bottom, #ffc815, #ae7a0d);
    -webkit-box-shadow: #ffd116 0px 0px 20px 0px;
    -moz-box-shadow: #ffd116 0px 0px 20px 0px;
    box-shadow: #ffd116 0px 0px 20px 0px;
    text-shadow: #7c5709 1px 1px 1px;
    color: #FFFFFF;
    white-space: nowrap;
    font-size: 1.5rem;
    text-align: center;
    
    
    &:hover,
    &:focus {
        border: 3px solid #f8ae12;
        background: #fff019;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff019), to(#d19210));
        background: -moz-linear-gradient(top, #fff019, #d19210);
        background: linear-gradient(to bottom, #fff019, #d19210);
    }
    
    &:active {
        transform: translateX(-50%) translateY(-50%) scale(1.05);
        background: #ae7a0d;
        background: -webkit-gradient(linear, left top, left bottom, from(#ae7a0d), to(#ae7a0d));
        background: -moz-linear-gradient(top, #ae7a0d, #ae7a0d);
        background: linear-gradient(to bottom, #ae7a0d, #ae7a0d);
    }
}

.btn-spell{
    background: rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    white-space: nowrap;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: $borderStandardRadius;
    padding: 0px;
    margin: $standardSpacing;

    &:hover,
    &:focus{
        background: rgba(0, 0, 0, 0.4);
    }
    &:active{
        background: rgba(0, 0, 0, 0.6);
        transform: scale(1.1);
    }
}

.action-icon{
    padding: $smallSpacing;
}
