

$fontPageColor: #222222;
$fontCharacterColor: #dbdbdb;
$fontColor: #464d5c;

$borderBigRadius: 15px;
$borderStandardRadius: 10px;
$borderSmallRadius: 5px;

$standardSpacing: 1rem;
$smallSpacing: 0.5rem;
$hugeSpacing: 2rem;

$borderTest: 1px solid red;
$borderTest1: 1px solid green;
$borderTest2: 1px solid yellow;