@import "./variables";
@import "./fonts";
@import "./playerCard";
@import "./table";
@import "./dice";



body{
    box-sizing: border-box;
    background-image: url(../images/Background/vintage-concrete.png);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

header,
.logo,
footer {
    display: flex;
    align-items: center;
}


header,
footer {
    height: 15vh;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.logo,
footer{
    flex-direction: column;  
}

.copyright{
    text-align: center;
    margin-bottom: $standardSpacing;
}

.socials{
    width: 70%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 350px;
    margin: $standardSpacing auto;
    display: flex;
    flex-direction: column; 

}

button {
    border: none;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    display: inline-block;
}

@media (min-width: 1150px){
    .body{
        min-width: 1400px;
        min-height: 815px;
    }

    main{
        min-height: 70vh;
        display: flex;
        align-items: center;
    }

    .container{ 
        min-width: 1300px;
        height: 100%;
        flex-direction: row;
        align-items: center;
    }

    .table-container{
        transform: rotate(-90deg);
    }

    .deck-placeholder{
        transform: rotate(90deg);
    }

    .table-deck{
        justify-content: center;
    }

    .btn-spell{
        transform: rotate(90deg);
        &:active{
            transform: rotate(90deg) scale(1.1);
        }
    }

    .btn-fight{
        transform: translateY(-50%) rotate(90deg);
        top: $tableHeight*0.5;
        left: $tableWidth*-0.5;

        &:active{
            transform: translateY(-50%)  scale(1.05) rotate(90deg);
        }
    }

}