@import "./variables";
@import "./fonts";
@import "./playerCard";
@import "./table";
@import "./dice";



body{
    box-sizing: border-box;
    background-image: url(../images/Background/vintage-concrete.png);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

header,
.logo,
footer {
    display: flex;
    align-items: center;
}


header,
footer {
    height: 15vh;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.logo,
footer{
    flex-direction: column;  
}

.copyright{
    text-align: center;
    margin-bottom: $standardSpacing;
}

.socials{
    width: 70%;
    max-width: 450px;
    display: flex;
    justify-content: space-between;
}

.container{
    width: 350px;
    margin: $standardSpacing auto;
    display: flex;
    flex-direction: column; 

}
